{% include "includes/head.html" %}
<div class="alert alert-warning shadow-sm w-100 mx-auto" role="alert">
    <h5>Note</h5>
    <hr>
    <p class="mb-0">The content in this module relies heavily on a good understanding of hashing. If you haven't gone
        through our <a href="{% url 'hashing:begin' %}" class="alert-link">hashing</a> module, now would be a great
        time.</p>
</div>
<h2>Introduction</h2>
<p>When a user is attempting to access some service, for example a website, their computer, or a mobile
    application, they often must gain <b>authorization</b> before using that service. Authentication is
    performed in two steps. First, the user must <b>identify</b> themselves. Second, they must <b>verify</b>
    that they are, in fact, the user they claim to be.</p>

<p>Allowing a user to log in only once they have provided the correct <b>password</b> is one extremely common
    method for performing this verification, but there are many others. In this module we will discuss how
    passwords are used, what makes some passwords stronger than other passwords, and how attackers might attempt
    to <b>crack</b> a password.</p>

<h2>Module Goals</h2>
<ul>
    <li>Understand how a password used to verify a user's identity</li>
    <li>Demonstrate several strategies for cracking passwords</li>
    <li>Examine how to prevent each strategy</li>
</ul>
{% include "includes/paginator.html" %}
{% include "includes/footer.html" %}
