{% include "includes/head.html" %}
<h2>Password Verification</h2>

<p>Login forms like the following are <em>everywhere</em> in the internet!</p>

<div class="card w-50 mx-auto my-3 bg-light shadow-sm">
    <h5 class="card-header">Login</h5>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-2 col-form-label">
                    {{ form.email.label_tag }}
                </div>
                <div class="col">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2 col-form-label">
                    {{ form.password.label_tag }}
                </div>
                <div class="col">
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col-2 col-form-label">
                <input class="btn btn-success" type="submit" value="Login" />
                </div>
                <div class="col">
                    {% if logged_in %}
                    <div class="alert alert-success my-0" role="alert">
                        <p class="my-0">Logged in.</p>
                    </div>
                    {% elif input_password and not logged_in %}
                    <div class="alert alert-danger my-0" role="alert">
                        <p class="my-0">Login failed.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

<p>So how do they work? Try to login to Alice's super-official-and-totally-not-made-up account. We've gone ahead and
    filled in her email for you.</p>

{% if input_email %}
<p>User <strong>authentication</strong> is a two step process. First, the user must <strong>identify</strong>
    themselves. Second, the user must <strong>verify</strong> that they are, in fact, the user they claimed to be.</p>

<h3>Identification</h3>
<p><strong>Identification</strong> is the first step in gaining authorization to use a service. There are several ways
    of identifying a user. Some common methods of identification are listed below</p>

<ul>
    <li>A username</li>
    <li>An email address</li>
    <li>An account number</li>
</ul>

<p>In the example above, you attempted to <strong>identify</strong> yourself as the
    <code>{{ input_email }}</code> user.{% if input_email != actual_email %} However, we asked
    you to attempt logging in as the <code>{{ actual_email }}</code> user. Please do so before continuing.{% endif %}</p>
{% if input_email == actual_email and input_password != actual_password %}
<p>However, you failed to correctly <strong>verify</strong> that you were Alice, because the password you entered did
    not match the one we have on record. Try again, and this time use Alice's <em>actual</em> password:
    <code>{{ actual_password }}</code></p>
{% endif %}
{% endif %}

{% if input_email == actual_email and input_password == actual_password %}
<h3>Verification</h3>
<p><strong>Verification</strong> is the second step in gaining authorization to use a service. There are many ways of
    verifying someone's identity. A few different ways are listed below</p>
<ul>
    <li>By providing something secret that the user <em>knows</em> (like a password).</li>
    <li>By providing something physical that the user <em>has</em> (like a hotel room key, or a credit card).</li>
    <li>By providing something unique the user <em>is</em> (like a fingerprint, or an iris scan).</li>
    <li>By providing something unique the user <em>does</em> (like voice recognition).</li>
</ul>

<p>In the example above, you <strong>verified</strong> that you were the owner of the
    <code>{{ input_email }}</code> account by providing information that matched what we had on record. That is,
    you provided the secret <code>{{ input_password }}</code> password associated with the
    <code>{{ input_email }}</code> account.</p>
<p>Now continue to the next page to learn <em>how</em> this verification is performed in a little more detail.</p>
{% endif %}

{% include "includes/paginator.html" %}
{% include "includes/footer.html" %}
