{% include "includes/head.html" %}
<h2>Password Verification Details</h2>
<div class=text-danger>
    <p>Explain how passwords at transported to the remote server, then hashed, and then compared against the table of hashed passwords.</p>
    <p>The reason to hash is not for transportation security &mdash; it's a security measure for <em>when</em> an attacker gains access to your passwords database.</p>
    <p>This would work great with an image or images?</p>
    <p>Choose a password, and then input a number of passwords, showing their hashes, and whether or not they match.</p>
</div>
{% include "includes/paginator.html" %}
{% include "includes/footer.html" %}
