{% include "includes/head.html" %}
<h3>Introduction</h3>
<p>
    <b>Hashing</b> is the process of taking some data and creating a condensed representation
    of that data which is semi-unique to that specific data. This condensed representation
    is called the <b>hash</b> of the data, and in cyber-security contexts, it is often the
    <b>message digest</b>. This module will explore some of the commonly-used hashing
    methods, and demonstrate the usages of message digests for security and <b>data integrity</b>.
</p>

<h3>Module Goals</h3>
<ul>
    <li>Motivate the usage of message digests</li>
    <li>Describe what a <b>hash function</b> is</li>
    <li>Show examples of well-known hash functions</li>
    <li>Demonstrate usage of message digests</li>
</ul>

{% include "includes/paginator.html" %}

{% include "includes/footer.html" %}
