<!doctype HTML>
<html>
{% include "includes/head.html" %}

<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>Hashing</h1>
    <h2>Example Hashes</h2>

    <p>One of the most widely known hash algorithms is the MD5 sum; or Message Digest 5. It was
        developed in 1992 as a successor the MD4 algorithm. Although it is now considered unsecure,
        it is still used in a lot of applications because it is 'good enough' or because switching
        would require a large effort.
    </p>
    <p>Another well-known series of hash algorithms are the SHA series; SHA0, SHA1, SHA2, and SHA3
        have all been developed as increasingly secure standards of hashing. As computers become
        faster, algorithms like the SHA series become less secure; at this point, SHA0 and SHA1 are
        no longer acceptable, and SHA2 is close to becoming obselete.
    </p>
    <p>Enter some text in the box below and click the 'Hash' button to obtain digests for your
        text using these algorithms.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Hash"/>
    </form>
</div>
</div>
{% include "includes/footer.html" %}
</body>

</html>
