<!doctype HTML>
<html>
{% include "includes/head.html" %}

<body>
{% include "includes/header.html" %}
<div class="container">
    <h1>Hashing</h1>
    <h2>Introduction</h2>

    <p>Hashing is the process of taking some data and creating a condensed representation of that
        data which is semi-unique to that specific data. This condensed representation is called the
        'hash' of the data, and in cyber-security contexts, it is often called the 'message digest'.
        This module will explore some of the commonly-used hashing methods, and demonstrate the
        usages of message digests for security.
    </p>

    <h2>What is a Hash Function?</h2>

    <p>Hash functions are one-way functions, which means you can always get the same digest from a
        specific input, but you can never start with the digest and figure out the original input.
    </p>
    <p>Because hash functions are used to condense data, it is possible for multiple messages
        to result in the same digest. This is perfectly fine, as long as that is very difficult to
        cause.
    </p>
    <p>In addition to being one-way, a good hash function will exhibit the following properties:</p>
    <ul>
        <li>It generates hashes that are the same size, regardless of the input data</li>
        <li>There is not a distinguishable pattern to how it converts input to a digest</li>
        <li>It is difficult to find inputs that produce the same digest</li>
    </ul>

    <a href="{% url 'landingpage:index' %}" class="btn btn-secondary">Prev</a>
    <a href="{% url 'hashing:hash_examples' %}" class="btn btn-primary">Next</a>
</div>
{% include "includes/footer.html" %}
</body>

</html>
