{% load static %}
<div class="container bg-light">
    <div class="d-flex justify-content-between align-items-center">
        <div class="">
            <h1 class="display-4"><a href="{% url 'landingpage:index' %}" class="text-reset">CyberEd</a></h1>
            <p class="lead">A high-level view of basic cybersecrity concepts</p>
        </div>
        <div class="">
            <img src="{% static 'MLogo_Blue.svg' %}" alt="" class="branding img-fluid">
        </div>
    </div>
    {% url 'landingpage:index' as landing_index %}
    {% if module_name or request.get_full_path != landing_index %}
    <hr />
    <div class="row">
        {% if module_name %}
        <div class="col">
            <h2>{{ module_name }}</h2>
        </div>
        {% endif %}
        {% if request.get_full_path != landing_index %}
        <div class="text-right col">
            <a href="{% url 'landingpage:index' %}" class="btn btn-outline-primary">Return to
                Modules Selection</a>
        </div>
        {% endif %}
    </div>
    <p class="py-1"></p>
    {% endif %}
</div>
