{% load static %}
<div class="container bg-light">
    <div class="d-flex justify-content-between align-items-center">
        <div class="">
            <h1 class="display-4"><a href="{% url 'landingpage:index' %}" class="text-reset">CyberEd</a></h1>
            <p class="lead">Here's a description of the site.</p>
        </div>
        <div class="">
            <img src="{% static 'MLogo_Blue.svg' %}" alt="" class="branding img-fluid">
        </div>
    </div>
    {% if module_name %}
    <hr />
    <h2>{{ module_name }} </h2>
    <p class="py-1"></p>
    {% endif %}
</div>
