{% include "includes/head.html" %}
<h1>Available Modules</h1>
<p class="lead">This page lists the learning modules available on the site, choose one to learn more about that topic
</p>
<div class="list-group">
    {% for module in modules %}

    <div class="card my-1 bg-transparent shadow-sm w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title">{{ module.name }}</h5>
            <p class="card-text">{{ module.description }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ module.link }}" class="btn btn-primary">Go to module</a>
        </div>
    </div>
    {% endfor %}
</div>
{% include "includes/footer.html" %}
