@import "./spacing.css";

body {
    min-height: 100vh;
}

body > div.container {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), url(GenCyber_logo_transparent_small.png);
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 65% auto;
}

img.branding {
    height: 200px;
}

img.sponsor {
    height: 100px;
    margin: 10px;
}

.icon {
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
}
