{% include "includes/head.html" %}

<h3>Introduction</h3>

<div class='card p-3'>
    <div class='card-body'>
        <p class="card-text"> <b>Steganography</b> (/ˌstɛɡəˈnɒɡrəfi/ STEG-ə-NOG-rə-fee) is the practice of concealing a
            file, message, image, or video within another file, message, image, or video. The word steganography
            combines the Greek words <i>steganos</i> (στεγανός), meaning "covered, concealed, or protected", and
            <i>graphein</i>
            (γράφειν) meaning "writing".
        </p>
        <p class='card-text text-right'>
            --Wikipedia
        </p>
    </div>
</div>

<div class='mt-2'>
    <p>
        As the definition states, <b>steganography</b> is, in its simplest form, the art and science of hiding data
        inside of other data.
        See if you can find the hidden message in the following text:
    </p>
    <p class='p-3'>
        <i>this is a very long sentence with a lot of words in it. You might find that it is confusing, because it just
            talks circles, but you are being bamboozled! if you Look carefully, you'll notice that there's a lot of Nice
            details in the message, and even some hidden information. Today you are learning about basic steganography,
            but who knows what surprises tomorrow will bring.</i>
    </p>
    <p>
        If you take only the words with capital letters, you can see the hidden message: <i>You Look Nice Today</i>.
    </p>
    <p>
        This is a very simplistic example of steganography, you may have seen it before in the plot of a book or movie,
        or maybe you've
        even used it yourself! This lesson module is going to teach you about some of the techniques used to hide data
        steganographically
        in images. Specfically, it will discuss and demonstrate the following methods and concepts
        <ul>
            <li>Image headers and metadata</li>
            <li>Image deltas</li>
            <li>Image bit-planes</li>
        </ul>
    </p>
</div>


{% include "includes/footer.html" %}
