{% load static %}
{% include "includes/head.html" %}

<h4>Encoding Text</h4>

<p>Below, you can see the original image, and the modified image with your message hidden in it. Once again,
    it's pretty difficult to see the difference between them.
</p>

<div class="text-center container-fluid my-3">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="{% url 'steganography:original_image'  key_prefix='bmp2' %}"
                    class="card-img-top img-thumbnail rounded">
                <div class="card-body">
                    <h5 class="card-title">Original Image</h5>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <img src="{% url 'steganography:encoded_image' key_prefix='bmp2' operation=2  %}"
                    class="card-img-top img-thumbnail rounded">
                <div class="card-body">
                    <h5 class="card-title">Image With Hidden Message</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    If we decode the image, we get your message back:
</p>
<div class="card my-3">
    <div class="card-body">
        <samp>{{decoded_message}}</samp>
    </div>
</div>
<p>
    Notice, the message has been changed a little. The way that we encoded it, there was no way to represent spaces or
    capital letters, spaces were removed, and all capital letters were made lower-case. If we wanted to be able to
    encode more characters, we
    could
    increase the range of values used to encode the message, but then the pixel differences would be more noticable.
</p>

<div class="text-center row justify-content-center my-3">
    <div class="col-6">
        <div class="card">
            <img class="card-img-top" src="{% url 'steganography:intermediate_image' key_prefix='bmp2' operation=2 %}">
            <div class="card-body">
                <h5 class="card-title">Modified Pixels</h5>
                <p>In this picture, you can see all of the pictures that were used to encode your
                    message.
                    If you go look at the original picture and the encoded picture, can you tell these pixels are
                    different?
                </p>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-info" role="alert">
    <h4>Lesson Recap</h4>
    <hr>
    <p>
        Instead of modifying pixels by just 1, we can change them by bigger amounts to store different kinds of data.
        One
        example of doing this is by changing them +/-13 to allow encoding 26 alphabet characters
        <ul>
            <li>Even when some pixels are changed by 13, it's still hard to notice</li>
            <li>If you want to allow more values to be encoded, you can modify pixels by more than 13</li>
        </ul>
    </p>
</div>

{% include "includes/paginator.html" %}

{% include "includes/footer.html" %}
